{#video compression#}
{% extends 'base.html' %}

{% block title %}Video Compression{% endblock %}

{% block content %}
<section class="compression-section">
    <h1>Video Compression</h1>
    <p>Select a video to compress and download the optimized version.</p>

    <form id="videoUploadForm" enctype="multipart/form-data">
        <input type="file" id="videoFile" name="video" accept="video/*" required>
        <button type="submit">Compress Video</button>
    </form>

    <div id="videoResult" class="result hidden">
        <p>Compression successful! Download your video below:</p>
        <a id="downloadVideo" href="#" download>Download Compressed Video</a>
    </div>
</section>
{% endblock %}
